.sounds {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  background-image: url("../../assets/images/starwars1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sounds h1 {
  margin-bottom: 80px;
  position: relative; /* Position the soundboard absolutely */
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.soundboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  width: 100%;
}

.soundboard-button {
  margin: 10px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #F8F8FF;
  transition: background-color 0.3s, transform 0.3s;
}

.soundboard-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.soundboard-button img {
  width: 100%;
  max-width: 150px;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .sounds {
    font-size: 1.5rem; 
  }

  .soundboard {
    max-width: 90%; 
  }

  .soundboard-button {
    margin: 5px;
    border-radius: 8px;
    padding: 0;
  }

  .soundboard-button img {
    max-width: 100px; 
    border-radius: 6px;
  }
}
